node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
storage/logs
.vscode
.idea
*.swp
*.swo
